<web-app>
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
		<welcome-file>default.html</welcome-file>
	</welcome-file-list>
	<resources mapping="/resources/**" location="/resources/" />
	<!-- Servlet Declaration -->
	<servlet>
		<servlet-name>first</servlet-name>
		<servlet-class>com.example.servlets.FirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>second</servlet-name>
		<servlet-class>com.example.servlets.SecondServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>third</servlet-name>
		<servlet-class>com.example.servlets.ThirdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>com.example.servletsAndUIForms.RegisterServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>success</servlet-name>
		<servlet-class>com.example.servletsAndUIForms.SuccessServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GatherData</servlet-name>
		<servlet-class>com.example.usingAttribtuesAndParameters.GatherDataServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OperateData</servlet-name>
		<servlet-class>com.example.usingAttribtuesAndParameters.OperateAndDisplayDataServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>signUpServlet</servlet-name>
		<servlet-class>com.registration.RegistrationServlet</servlet-class>
	</servlet>
	<!-- Servlet mapping -->
	<servlet-mapping>
		<servlet-name>first</servlet-name>
		<url-pattern>/startingWithFirst</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>second</servlet-name>
		<url-pattern>/second</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>third</servlet-name>
		<url-pattern>/third</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>success</servlet-name>
		<url-pattern>/successServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GatherData</servlet-name>
		<url-pattern>/gatherDataServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>OperateData</servlet-name>
		<url-pattern>/operateDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>signUpServlet</servlet-name>
		<url-pattern>/registrationServlet</url-pattern>
	</servlet-mapping>
</web-app>